.mt-0 {
	margin-top: 0;
}

.mt-sm {
	margin-top: var(--spacing-2x);
}

.mt-md {
	margin-top: var(--spacing-4x);
}

.mt-lg {
	margin-top: var(--spacing-6x);
}

.mt-xl {
	margin-top: var(--spacing-8x);
}
